/* Estilização do título do cardápio */
.titulo-cardapio {
    margin-top: 20px; 
    font-size: 28px; 
    text-align: center; 
}

/* Estilização das pizzas salgadas */
.pizzasSalgadas, .pizzasDoces {
    display: flex; /* Exibição em formato flex */
    justify-content: space-evenly; /* Distribuição igual do espaço entre os elementos */
    flex-wrap: wrap; /* Quebra de linha automática quando necessário */
}

/* Estilização do cartão de pizza */
.pizza-card {
    display: flex; /* Exibição em formato flex */
    justify-content: space-between; /* Distribuição igual do espaço entre os elementos */
    position: relative; /* Posicionamento relativo ao elemento pai*/
    width: 290px; 
    height: auto; 
    border-radius: 10px;
    background-color: #f7fbf4; 
    padding: 10px; 
    margin: 20px 10px 15px 10px; 
}

/* Estilização da imagem da pizza */
.pizza-image {
    width: 150px; 
    height: auto; 
    border-radius: 50%; /* Raio de borda de 50% (forma circular) */
}

/* Estilização dos detalhes da pizza */
.pizza-detalhes {
    text-align: center; 
}

/* Estilização do contêiner de preço da pizza */
.pizza-preco-conteiner {
    display: flex; 
    flex-wrap: nowrap; /* Impedir quebra de linha dos elementos filhos */
    justify-content: space-between; /* Distribuição igual do espaço entre os elementos */
}

/* Estilização do preço da pizza */
.pizza-preco {
    margin: 10px 5px 10px 5px; 
}

/* Estilização do nome da pizza */
.pizza-nome > h2 {
    font-size: 20px; 
    max-width: 90vw; 
}

/* Estilização dos ingredientes */
.pizza-nome>p{
    font-size: 10px;
    text-align: left;
    padding: 5px;
}

/* Estilização do contêiner do coração */
.coracao-container {
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai*/
    bottom: 10px;
    right: 10px; 
}

/* Estilização do ícone de coração */
.coracao {
    width: 30px;
    height: 30px; 
}

/* Estilização do ícone de coração inativo */
.coracao.inativo {
    display: none; /* Não exibir o ícone */
}


